@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido a CORION</h1>
<p>Ferreteria con la mejor calidad y precios</p>

@if (ViewData["Mensaje"] != null)
{
    <script language='javascript' type='text/javascript'>window.alert("Debes de iniciar sesion");</script>
}