@{
    ViewData["Title"] = "Administrador";
    Layout = "_LayoutAdmin";
}

<div class="text-center">
    <h1 class="display-4">Administrador</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
