@model IF6201_TomeYLleve.Models.ClienteModel
@{
    ViewData["Title"] = "Registrar";
    Layout = "_Layout";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="false">&times;</span>
        </button>
    </div>
}
<div>
    <center>
        <form id="registraCliente" asp-action="registrar" method="POST">
            <h1>Registrar Cliente</h1><br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">

                    <input type="text" style=" margin-bottom: 15px;" class="form-control" asp-for="cedula"
                           placeholder="Cedula" required /><br>

                    <input type="text" style=" margin-bottom: 15px;" class="form-control" asp-for="nombre"
                           placeholder="Nombre" required /><br>

                    <input type="text" style=" margin-bottom: 15px;" class="form-control" asp-for="apellido"
                           placeholder="Apellido" required /><br>

                    <input type="text" style=" margin-bottom: 15px;" class="form-control" asp-for="alias"
                           placeholder="Nombre Usuario" required /><br>

                    <input type="password" style=" margin-bottom: 15px;" class="form-control" asp-for="contrasenna"
                           placeholder="Contraseña" required /><br>

                    <button type="submit" class="btn btn-success">Registrar</button>

                </div>


                <div class="col-sm-3"></div>

            </div>
        </form>
    </center>
</div>
