@model IF6201_TomeYLleve.Models.ComprarProducto
@{
    ViewData["Title"] = "Comprar Producto";
    Layout = "_LayoutCliente";
}

<div id="contenedorRegAdmin" class="container-fluid" style="margin-top: 50px">
    <div class="row justify-content-center align-items-center">
        <div id="registrarProduc" class="col-md-8 p-5" style="margin-top: 50px;background:#C0C0C0">
            <h1>Comprar Producto</h1>
            <form asp-action="detalleCompra">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="productoModel.id" class="form-control" placeholder="id" readonly hidden />
                    <span asp-validation-for="productoModel.id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="productoModel.nombre" class="control-label">Producto</label>
                    <input asp-for="productoModel.nombre" class="form-control" placeholder="producto" readonly />
                    <span asp-validation-for="productoModel.nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="productoModel.precio" class="control-label">Precio</label>
                    <input asp-for="productoModel.precio" class="form-control" placeholder="precio" readonly />
                    <span asp-validation-for="productoModel.precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cantidad" class="control-label">Cantidad</label>
                    <input asp-for="cantidad" class="form-control" placeholder="Cantidad" required />
                    <span asp-validation-for="cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="provincia" class="control-label">Provinvia</label>
                    <input asp-for="provincia" class="form-control" required />
                    <span asp-validation-for="provincia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="canton" class="control-label">Cantón</label>
                    <input asp-for="canton" class="form-control" required />
                    <span asp-validation-for="canton" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="detalle" class="control-label">Otra señas</label>
                    <input asp-for="detalle" class="form-control" required />
                    <span asp-validation-for="detalle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Procesar Compra" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>