@model ProvedorCorion.Models.AdmiModel
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" method="post">
    <div class="row mx-4 mt-3">
        <div class="col-md-6 text-center">
            <label for="inputEmail4" class="form-label text">Usuario</label>
            <input asp-for="Nombre" type="text" class="form-control text-center" required id="Nombre" name="Nombre" placeholder="Nombre del usuario">
        </div>
        <div class="col-md-6 text-center">
            <label for="inputEmail4" class="form-label">Contraseña</label>
            <input asp-for="Pass" type="password" class="form-control text-center" required id="Pass" name="Pass" placeholder="Contraseña del usuario">
        </div>
    </div>
    <div class="col-12 w-auto mx-3 text-center my-3">
        <button type="submit" class="btn btn-primary text-center mt-3">Iniciar Sesion</button>
    </div>
</form>